{% extends 'users/login_base.html' %}
{% load staticfiles %}

{% block content %}
<base href="/app">
  <app-root></app-root>
    <script src="{% static 'ngApp/angular2/dist/inline.bundle.js' %}"></script>
    <script src="{% static 'ngApp/angular2/dist/polyfills.bundle.js' %}"></script>
    <script src="{% static 'ngApp/angular2/dist/styles.bundle.js' %}"></script>
    <script src="{% static 'ngApp/angular2/dist/vendor.bundle.js' %}"></script>
    <script src="{% static 'ngApp/angular2/dist/main.bundle.js' %}"></script>
{% endblock content %}
