<md-card>
    <md-toolbar>
        <md-card-title>
	        {{this.title}}
        </md-card-title>
    </md-toolbar>
        <!-- Inputs -->
    <md-card-content>
        <form [formGroup]="forgotPasswordForm">
        
                <div class="p-t-10">
                    <md-input-container class="w-100 p-t-10">
                        <input mdInput type="email" placeholder="Email" email formControlName="email">
                        <md-error> 
                            <ng-container *ngIf="forgotPasswordForm.controls['email'].hasError('required'); then content else other">
                            </ng-container>
                            <ng-template #content>                                
                                Please enter your Email
                            </ng-template>                                
                            <ng-template #other>
                                Please enter correct Email
                            </ng-template>
                        </md-error>
                        
                        
                    </md-input-container>
                </div>
                <div class="t-a-center p-t-10">
                    <button class="p-t-10" mdInput [disabled]=!forgotPasswordForm.valid type="submit" md-raised-button color="primary" (click)="forgotPassword()">Submit</button>
                </div>
        </form>
    </md-card-content>
    <md-card-footer class="text-center">
        <!-- Footer -->
        <a routerLink="/login" > <small>Login </small></a>|
        <a routerLink="/register" > <small>Register </small></a>
          <!-- <small> Login.</small>   -->
    </md-card-footer>
</md-card>