<md-card>
    <md-toolbar>
        <md-card-title>
	        {{this.title}}
        </md-card-title>
    </md-toolbar>
        <!-- Inputs -->
    <md-card-content>
        <form [formGroup]="changePasswordForm">
        
                <p>
                    <md-input-container class="col-md-12 form-group">
                        <input mdInput type="email" placeholder="Email" formControlName="email">
                        <md-error>
                            Please enter your <strong>Email</strong>
                        </md-error>
                    </md-input-container>
                </p>
                <div>
                    <button mdInput style="margin:20px 15px" type="submit" md-raised-button color="primary" (click)="forgotPassword()">Submit</button>
                </div>
        </form>
    </md-card-content>
    <md-card-footer class="text-center">
        <!-- Footer -->
        <a routerLink="/login" > <small>Login </small></a>|
        <a routerLink="/register" > <small>Register </small></a>
          <!-- <small> Login.</small>   -->
    </md-card-footer>
</md-card>
<md-card>
    <!-- <router-outlet></router-outlet>  -->
</md-card>