<div class="register-box">

  <div class="register-logo">
    <a href="../../index2.html"><b>Forgot</b>Password</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Forgot Password</p>

    <form action="#" method="post"  #forgotForm="ngForm" (ngSubmit)="forgott(forgotForm.value)" novalidate>
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email" name="email" ngModel>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Reset</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

  

    <a routerLink="/login" class="text-center">I already have a membership</a>
  </div>
  <!-- /.form-box -->
</div>