Django (1.11.3)
django-appconf (1.0.2)
django-compressor (2.1.1)
django-debug-toolbar (1.8, /home/deepak/.virtualenvs/test/src/django-debug-toolbar)
django-guardian (1.4.9)
djangorestframework (3.6.3)
pip (9.0.1)
psycopg2 (2.7.1)
pytz (2017.2)
rcssmin (1.0.6)
rjsmin (1.0.12)
setuptools (36.2.0)
six (1.10.0)
sqlparse (0.2.3)
wheel (0.29.0)
