<mat-toolbar>
  <mat-card-title>
    {{this.title}}
  </mat-card-title>
</mat-toolbar>

<!-- Inputs -->
<form [formGroup]="signupForm">
    <mat-card-content fxLayoutAlign="space-evenly stretch" fxLayout="column" fxLayoutGap="10px">
		
		<mat-input-container fxFill>
          <input matInput placeholder="Username" formControlName="username">
          <mat-error>
            Please enter your username
          </mat-error>
		</mat-input-container>
		
		<div fxLayout="row" fxLayoutAlign="space-between stretch" class="">
			<mat-input-container fxFlex="48">
				<input matInput placeholder="First Name" formControlName="first_name">
				<mat-error>
				Please enter your First Name
				</mat-error>
			</mat-input-container>

			<mat-input-container fxFlex="48">
				<input matInput placeholder="Last Name" formControlName="last_name">
				<mat-error>
				Please enter your Last Name
				</mat-error>
			</mat-input-container>
		</div>

        <mat-input-container fxFill>
          <input type="email" matInput placeholder="Email" formControlName="email">
          <mat-error>
            Please enter your email
          </mat-error>
        </mat-input-container>
	  
        <mat-input-container fxFill>
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error>
            Please enter your password
          </mat-error>
        </mat-input-container>

    </mat-card-content>

	<mat-card-actions class="text-center">
		<button matInput [disabled]=!signupForm.valid type="submit" mat-raised-button color="primary" (click)="registerUser()">Submit</button>
	</mat-card-actions>

</form>

  <mat-card-footer class="text-center">
    <a routerLink="/login"> <small>login</small></a>
  </mat-card-footer>
