<md-toolbar>
  <md-card-title>
    {{this.title}}
  </md-card-title>
</md-toolbar>

<!-- Inputs -->
<form [formGroup]="signupForm">
    <md-card-content fxLayoutAlign="space-evenly stretch" fxLayout="column" fxLayoutGap="10px">
		
		<md-input-container fxFill>
          <input mdInput placeholder="Username" formControlName="username">
          <md-error>
            Please enter your username
          </md-error>
		</md-input-container>
		
		<div fxLayout="row" fxLayoutAlign="space-between stretch" class="">
			<md-input-container fxFlex="48">
				<input mdInput placeholder="First Name" formControlName="first_name">
				<md-error>
				Please enter your First Name
				</md-error>
			</md-input-container>

			<md-input-container fxFlex="48">
				<input mdInput placeholder="Last Name" formControlName="last_name">
				<md-error>
				Please enter your Last Name
				</md-error>
			</md-input-container>
		</div>

        <md-input-container fxFill>
          <input type="email" mdInput placeholder="Email" formControlName="email">
          <md-error>
            Please enter your email
          </md-error>
        </md-input-container>
	  
        <md-input-container fxFill>
          <input mdInput type="password" placeholder="Password" formControlName="password">
          <md-error>
            Please enter your password
          </md-error>
        </md-input-container>

    </md-card-content>

	<md-card-actions class="text-center">
		<button mdInput [disabled]=!signupForm.valid type="submit" md-raised-button color="primary" (click)="registerUser()">Submit</button>
	</md-card-actions>

</form>

  <md-card-footer class="text-center">
    <a routerLink="/login"> <small>login</small></a>
  </md-card-footer>
