/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    margin: 0;
    margin-bottom: 20px;
    background-color: #FFD54F;
    min-height: 100%;
    
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}
.flex-container {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction:         column;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
}
md-card{
    min-width: 500px;
    min-height: 350px;
    flex-grow: 1;
}
.w-50, .mat-tab-label{
    width: 50%;
}
.overflow-hidden, .card-container{
    overflow: hidden;
}
.m-auto{
    margin: auto !important;
}
.m-t-10{
    margin-top: 10px; 
}

.t-a-center{
    text-align: center;
}
.p-t-10{
    padding-top: 10px;
}
.w-49{
    width: 49%;
}
.w-100{
    width: 100%;
}
.text-center{
    text-align: center;
}

a{
    text-transform: uppercase;
    text-decoration: none;
}