		
<md-card>
   <md-toolbar>
        <md-card-title>
	        {{this.title}}
        </md-card-title>
    </md-toolbar>
        <!-- Inputs -->
    <md-card-content>
        <form [formGroup]="changePasswordForm">
			<p>
			<md-input-container>
				<input mdInput placeholder="Password" type="password" formControlName="password1">
				<md-error >
					Please enter your <strong>password</strong>
				</md-error>
			</md-input-container>
			</p>
			<p>
				<md-input-container>
					<input mdInput placeholder="Confirm Password" type="password" formControlName="password2" md-maxlength="10">
					<md-error *ngIf="changePasswordForm.controls['password2'].hasError('required')">
						Please confirm your <strong>password</strong>
					</md-error>
					<md-error *ngIf="changePasswordForm.controls['password2'].hasError('MatchPassword')" >
						Password and Confirm Password mismatch.
					</md-error>
				</md-input-container>
			</p>
            <button mdInput type="submit" md-raised-button color="primary" [disabled]="!changePasswordForm.valid" (click)="changePassword()">Submit</button>
        </form>
    </md-card-content>
        
    <md-card-footer>
        <!-- Footer -->
         <!-- <small> All Copyright nothing reserved| Free to copy n disctribute.</small>  -->
    </md-card-footer>
</md-card>		