<div fxLayout="column" fxLayoutAlign="center center" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
    <mat-card tabindex="0">
        <nav mat-tab-nav-bar>
            <a mat-tab-link
                [routerLink]="['/login']"
                routerLinkActive #lla="routerLinkActive"
                [active]="lla.isActive">
                LOGIN
            </a>
            <a mat-tab-link
                [routerLink]="['/register']"
                routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
                REGISTER
            </a>
        </nav>
        <router-outlet></router-outlet>
    </mat-card>
</div>    