<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} {{ block.super }}|Registration Page{% endblock title %}
{% block app-content %}

    <head>

        {% block css %}
            {{ block.super }}
            <!-- Ionicons -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
            <!-- Theme style -->
            <link rel="stylesheet" href="{% static 'bower_components/AdminLTE/dist/css/AdminLTE.min.css' %}">
            <!-- iCheck -->
            <link rel="stylesheet" href="{% static 'bower_components/AdminLTE/plugins/iCheck/square/blue.css' %}">
        {% endblock css %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
    </head>
    <body class="hold-transition register-page">
    <div class="register-box">
        <div class="login-logo">
            <a href="#"><b>CRUD</b><br>
                <small>Register</small>
            </a>
        </div>
        <div class="register-box-body">
            <p class="login-box-msg">Register a new membership</p>

            <form action="" method="post" novalidate>{% csrf_token %}


                <div class="form-group has-feedback">
                  <span class="text-danger">
                      {{ form.name.errors|striptags }}
                  </span>
                    {{ form.first_name }}
                </div>

                <div class="form-group has-feedback">
          <span class="text-danger">
              {{ form.last_name.errors|striptags }}
          </span>
                    {{ form.last_name }}
                </div>

                <div class="form-group has-feedback">
          <span class="text-danger">
            {{ form.username.errors|striptags }}
          </span>
                    {{ form.username }}
                    <span class="glyphicon glyphicon-envelope clearfix form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
          <span class="text-danger">
            {{ form.email.errors|striptags }}
          </span>
                    {{ form.email }}
                    <span class="glyphicon glyphicon-envelope clearfix form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
          <span class="text-danger">
          {{ form.password.errors|striptags }}
          </span>
                    {{ form.password }}
                    <span class="glyphicon glyphicon-lock clearfix form-control-feedback"></span>
                </div>

                <div class="row">
                    <div class="col-xs-8">
                        <a href="{% url 'users:login' %}" class="text-center">Login</a>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->
    </body>
{% endblock app-content %}