{% extends 'base_generic.html' %}
{% load staticfiles %}
{% block title %}{{ block.super }}| Log in{% endblock title %}

{% block app-content %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block css %}
        {{ block.super }}
      <!-- Ionicons -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
      <!-- Theme style -->
      <link rel="stylesheet" href="{% static 'bower_components/AdminLTE/dist/css/AdminLTE.min.css' %}">
      <!-- iCheck -->
      <link rel="stylesheet" href="{% static 'bower_components/AdminLTE/plugins/iCheck/square/blue.css' %}">
    {% endblock css %}

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
          <a href="#"><b>CRUD</b><br><small>Email Sent </small></a>
        </div>
         <p>
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
          </p>
          <p>
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
          </p>
    </div>
</body>
{% endblock app-content %}

