{% extends 'users/login_base.html' %}
{% block title %}{{ block.super }}Password Changed Successfully {% endblock title %}

{% block content %}
    <div class="register-box">
        <div class="login-logo">
            <a href="#"><b>CRUD</b><br>
                <small>Success</small>
            </a>
        </div>
        <div class="register-box-body">
             <p>
                Your password has been set. <br> You may go ahead and <a href="{% url 'users:index' %}">Click here</a>.
            </p>

            <div class="text-right">
                <a href="{% url 'users:login' %}" class="text-center">Login</a> |
                <a href="{% url 'users:register' %}" class="text-center">Register</a>
            </div>
        </div>
    </div>

{% endblock content %}

