{% extends 'users/login_base.html' %}
{% block title %}{{ block.super }}Password Reset {% endblock title %}

{% block content %}

    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>CRUD</b><br><small>Password Reset </small></a>
        </div>

        <div class="login-box-body">
            <p class="login-box-msg">Enter Email to reset your password</p>
            <span class="text-danger">
                {{ form.non_field_errors|striptags }}
            </span>


            <form action="" method="post">
                {% csrf_token %}

                <div class="form-group has-feedback">
                  <span class="text-danger">
                     {{ form.email.errors|striptags }}
                  </span>
                    {{ form.email }}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>


                <div class="row">
                    <div class="col-xs-8">
                        <a href="{% url 'users:login' %}" class="text-center">Login</a> |
                        <a href="{% url 'users:register' %}" class="text-center">Register</a>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Reset</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
    </div>

{% endblock content %}