
<md-card>
   <md-toolbar>
        <md-card-title>
	        {{this.title}}
        </md-card-title>
    </md-toolbar>
        <!-- Inputs -->
    <md-card-content>
			<form [formGroup]="signupForm" class="">
				
				<p>
					<md-input-container class="col-md-12 form-group">
						<input mdInput placeholder="Username" formControlName="username">
						<md-error >
							Please enter your <strong>username</strong>
						</md-error>
					</md-input-container>
				</p>
				<p>
					<md-input-container class="col-md-6 form-group">
						<input mdInput  placeholder="First Name" formControlName="first_name">
						<md-error>
							Please enter your <strong>First Name</strong>
						</md-error>
					</md-input-container>
			
					<md-input-container class="col-md-6 form-group">
							<input mdInput placeholder="Last Name" formControlName="last_name">
							<md-error>
								Please enter your <strong>Last Name</strong>
							</md-error>
					</md-input-container>
				</p>
				<p>
					<md-input-container class="col-md-12 form-group">
						<input type="email" mdInput placeholder="Email" formControlName="email">
						<md-error>
							Please enter your <strong>email</strong>
						</md-error>
					</md-input-container>
				</p>
			
				<p>
					<md-input-container class="col-md-12 form-group">
						<input mdInput type="password" placeholder="Password" formControlName="password">
						<md-error>
							Please enter your <strong>password</strong>
						</md-error>
					</md-input-container>
				</p>
				<div >
					<button style="margin:20px 15px" mdInput [disabled]=!signupForm.valid  type="submit" md-raised-button color="primary" (click)="registerUser()">Submit</button>
				</div>
			</form>
    </md-card-content>
        
    <md-card-footer>
        <!-- Footer -->
         <!-- <small> All Copyright nothing reserved| Free to copy n disctribute.</small>  -->
    </md-card-footer>
</md-card>