
<md-toolbar>
	<md-card-title>
		{{this.title}}
	</md-card-title>
</md-toolbar>
	<!-- Inputs -->
<md-card-content>
		<form [formGroup]="signupForm">
			
			<p>
				<md-input-container>
					<input mdInput placeholder="Username" formControlName="username">
					<md-error >
						Please enter your <strong>username</strong>
					</md-error>
				</md-input-container>
			</p>
				<table cellspacing="0">
					<tr>
						<td>
							<md-input-container>
								<input mdInput  placeholder="First Name" formControlName="first_name">
								<md-error>
									Please enter your <strong>First Name</strong>
								</md-error>
							</md-input-container>
						</td>
						<td>	
							<md-input-container>
								<input mdInput placeholder="Last Name" formControlName="last_name">
								<md-error>
									Please enter your <strong>Last Name</strong>
								</md-error>
							</md-input-container>
						</td>
					</tr>
				</table>
			<p>
				<md-input-container>
					<input type="email" mdInput placeholder="Email" formControlName="email">
					<md-error>
						Please enter your <strong>email</strong>
					</md-error>
				</md-input-container>
			</p>
		
			<p>
				<md-input-container>
					<input mdInput type="password" placeholder="Password" formControlName="password">
					<md-error>
						Please enter your <strong>password</strong>
					</md-error>
				</md-input-container>
			</p>
			<div >
				<button mdInput [disabled]=!signupForm.valid  type="submit" md-raised-button color="primary" (click)="registerUser()">Submit</button>
			</div>
		</form>
</md-card-content>
	
	<md-card-footer class="text-center">
        <a routerLink="/login"> <small>login &nbsp;</small></a>
    </md-card-footer>