<mat-toolbar color="primary">
        
        <span>Public</span>
        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>menu</mat-icon> 
        </button>
            
    </mat-toolbar>
    
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item routerLink="/login"> Login </button>
        <button mat-menu-item routerLink="/register"> Register </button>
        <button mat-menu-item routerLink="/forgot-password"> Forgot Password</button>
        <button mat-menu-item [routerLink]="['/change-password']"> Change Password </button>
        <button mat-menu-item [routerLink]="['/dashboard']"> Dashboard </button>
    </mat-menu>
        
    <router-outlet>
        
    </router-outlet>