<mat-grid-list cols="5" rowHeight="74px">
  	<mat-grid-tile>
		<div fxFlexFill fxLayoutAlign="center center" fxLayout="column" class="online-name channel-group">			
				<div class=" channel-title">
					<strong>{{this.channelGroup}}</strong>
				</div>		
				<div fxLayoutAlign="start center" fxLayout="column">
					<div>
						<mat-icon class="online">
							fiber_manual_record
						</mat-icon>
						<span>
							{{this.chatService.fullName}}
						</span>
					</div>
					<div>
						<small class="dull">@{{this.chatService.username}}</small>
					</div>
				</div>								
		</div>
	</mat-grid-tile>

	<!-- HEADER -->
  	<mat-grid-tile colspan="4">
		<div fxFlexFill fxLayoutAlign="center center" fxLayout="column">
			<div fxLayout="row" class="channel-title">
				<strong>#{{this.chatService.channelInput}}</strong>
			</div>
			<div fxLayout="row" class="channel-title">
				<span>
					<small> Online: {{this.chatService.occupancy}} </small> | <small> Fav </small>
				</span>
			</div>
		</div>
	</mat-grid-tile>

	<!-- ONLINE LIST -->
	<mat-grid-tile rowspan="5">
		<div fxLayoutAlign="start stretch" fxLayout="column" class="sidebar-container">
			<mat-nav-list dense >
				<div fxLayoutAlign="space-between center" fxLayout="row">
					<h3 mat-subheader>Direct Message</h3>
					<h3 mat-subheader>{{this.chatService.groupOccupants.length}}</h3>
				</div>
				<mat-divider></mat-divider>

				<a mat-list-item (click)=channelClicked(channel) 
					routerLinkActive="active-link" class="online-name" matLine 
					[routerLinkActiveOptions]="{exact: true}"
					*ngFor = "let occupant of this.chatService.groupOccupants; let index = index"
					routerLink="../{{index}}"
					>
					
					<div fxLayout="row" fxLayoutAlign="start center">
						<mat-icon mat-list-icon class="online">
							fiber_manual_record
						</mat-icon>
						<div>
							Online{{channel}}
						</div>
					</div>
					
				</a>
			</mat-nav-list>
		</div>
	</mat-grid-tile>

	

	<!-- MessageContainer -->
  	<mat-grid-tile rowspan="7" colspan="4" >
		<div class="msg-container">
			<div fxLayout="column" fxLayoutAlign="start stretch" 
				fxLayoutGap="10px" class="content-container message-container" >
				<div *ngFor = "let message of this.chatService.allMessages let index = index">
					<div fxLayout="row" class="message-text">
						<div fxFlex="5">
							<mat-icon color="accent" class="f-s-40">account_box</mat-icon>
						</div>
						<div fxFlex fxLayout="column" fxLayoutAlign="space-evenly stretch">
							<div fxLayout="row" fxLayoutAlign="space-between center" >
								<span>
									<b>{{ message.entry.name }}</b>
									<small class="dull">@{{message.entry.username}}</small>
								</span> 
								<div fxFlex class="time" fxFlexAlign="center">
									{{ this.getReadableTime(message.timetoken) }}
								</div>
							</div>
							<div>{{ message.entry.text}}</div>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</mat-grid-tile>

	<!-- GROUP -->
	<mat-grid-tile rowspan="3">
	
		<div fxLayoutAlign="start stretch" fxLayout="column" class="sidebar-container">
			<mat-nav-list dense >
				<div fxLayoutAlign="space-between center" fxLayout="row">
					<h3 mat-subheader>Channel</h3>
					<h3 mat-subheader>{{this.chatService.totalChannel}}</h3>
				</div>
				<mat-divider></mat-divider>

				<a mat-list-item (click)=channelClicked(channel) 
					routerLink="../{{channel}}" 
					routerLinkActive #rla="routerLinkActive" 
					active="rla.isActive"
					class="online-name" matLine 
					*ngFor = "let channel of this.chatService.channelList">
					
					<div fxLayout="row" fxLayoutAlign="start center">
						# &nbsp;
						<div>
							{{channel}}
						</div>
					</div>
					
				</a>
			</mat-nav-list>
		</div>
	</mat-grid-tile>


	<!-- SEND MESSAGE -->
  	<mat-grid-tile colspan="4">
		<div fxLayoutAlign="center center" fxLayout="column">
			<form autocomplete="off" #replyForm="ngForm" (ngSubmit)="sendMessage(replyForm)" class="reply-form">
				<mat-form-field  class="msg-input" fxFill floatPlaceholder="never">
					<input tabindex="1" resizeToFitContent name="message" [(ngModel)]="message" matInput placeholder="Message">
					<mat-hint align="end"> Press Enter to Send</mat-hint>
				</mat-form-field>
			</form>
		</div>
	</mat-grid-tile>

</mat-grid-list>
