.dashboard-container{
  font-size: 15px;
}

.message-boxx{
  overflow: auto;
  margin-bottom: 9%;
  margin-top: 6%;
  
}
.side-bar{
  height:100vh;
  width: 15%;
  overflow: auto;
  bottom: 0;
  top: 0;
  position: fixed;
  background-color:rgba(117, 25, 25, 0.99);
}
.online-name{
  color: rgb(202,196,201) !important;
  font-weight: bolder;  
}
.message-text{
  border: 1px solid brown;
}

.f-s-40{
  font-size: 40px !important;
}
.online{
  font-size: 15px !important; 
  color: #35902a;
  height: auto !important;  
}
.all-messages{
  padding: 10px;
  background-color: #fff;  
}
.msg-container{
  background-color:#fff;
  top: 0;
  overflow: auto;
}

.reply-box{
    border: 2px solid grey;
    border-radius: 20px;
    padding: 7px;
    width: 82%;    
}
.bottom{
  background-color: #fff;
  position: fixed;
  bottom: 0;
  margin-bottom: 2px;
  width: 100%;
  padding-top:10px; 
  padding-bottom:10px; 
}

.channel-heading{
  position: fixed;
  top: 0;
  background-color: rgb(255, 232, 238);
  width: 100%;
  height: 7vh;
  padding-top: 1rem;
  padding-left: 7px;
  border-bottom: 1px solid black;
}