<mat-grid-list cols="5" rowHeight="fit">
	<!-- SIDEBAR : TITLE -->
  	<mat-grid-tile>
		<div fxFlexFill fxLayoutAlign="center center" fxLayout="column" class="online-name channel-group">			
				<div class=" channel-title">
					<strong>{{this.chatService.globalChannel}}</strong>
				</div>		
				<div fxLayoutAlign="start center" fxLayout="column">
					<div>
						<mat-icon class="online">
							fiber_manual_record
						</mat-icon>
						<span>
							{{this.chatService.fullName}}
						</span>
					</div>
					<div>
						<small class="dull">@{{this.chatService.username}}</small>
					</div>
				</div>								
		</div>
	</mat-grid-tile>

	<!-- HEADER -->
  	<mat-grid-tile colspan="4">
		<div fxFlexFill fxLayoutAlign="space-around center">
			<div fxFlex=90 fxLayoutAlign="center center" fxLayout="column">
				<div fxLayout="row" class="channel-title">
					<div *ngIf="this.chatService.room">
						<strong>#{{ fetchChannelNameFromString( ( (this.chatService).currentChannel$ | async )?.channel )  }}</strong>
					</div>
				</div>
				<div fxLayout="row" class="channel-title">
					<span>
						<div >
							<small> Online: </small> | 
							<small> Fav </small>
						</div>	
					</span>
				</div>
			</div>
			<div fxFlex fxLayoutAlign="center center" fxLayout="column">
				<button mat-raised-button (click)="removeChannel()">
					<mat-icon class="dull">delete</mat-icon>
				</button>
			</div>
		</div>
		
	</mat-grid-tile>

	<!-- SIDEBAR: DIRECT MESSAGES -->
	<mat-grid-tile rowspan="6">
		<div fxLayoutAlign="start stretch" fxLayout="column" class="sidebar-container">
			<mat-nav-list dense >
				<div fxLayoutAlign="space-between center" fxLayout="row">
					<h3 mat-subheader>UNICAST</h3>
					<div>
						<button mat-raised-button (click)="addChannel()">
							<mat-icon class="dull">add_circle_outline</mat-icon>
						</button>
					</div>

				</div>
				<mat-divider></mat-divider>

				<a mat-list-item 
					(click)="this.chatService.sendInvite(occupant.uuid)"
					routerLinkActive="active-link" class="online-name" 
					matLine [routerLinkActiveOptions]="{exact: true}"
				 	*ngFor="let occupant of this.chatService.directChats$ | async; let index = index" 
				 	>
					
					<div fxLayout="row" fxLayoutAlign="start center">
						<mat-icon mat-list-icon class="online">
							fiber_manual_record
						</mat-icon>
						<div>
							{{ occupant }}  
							<small class="dull">@{{ occupant}} </small>
						</div>
					</div>
					
				</a>

				<!-- <a mat-list-item (click)="this.chatService.sendInvite(occupant.uuid)" 
				routerLinkActive="active-link" class="online-name"
					matLine [routerLinkActiveOptions]="{exact: true}" 
					*ngFor="let occupant of this.chatService.privateChats$ | async; let index = index">
				
					<div fxLayout="row" fxLayoutAlign="start center">
						<mat-icon mat-list-icon class="online">
							fiber_manual_record
						</mat-icon>
						<div>
							{{ occupant }}
							<small class="dull">@{{ occupant}} </small>
						</div>
					</div>
				
				</a> -->
			</mat-nav-list>
		</div>
	</mat-grid-tile>

	

	<!-- MessageContainer -->
  	<mat-grid-tile rowspan="8" colspan="4" >
			

			<div *ngFor="let element of ((this.chatService).messages$ | async ) let index = index">
				<div fxLayout="row" class="message-text">
					<div fxFlex="5">
						<mat-icon color="accent" class="f-s-40">account_box</mat-icon>
					</div>
					<div fxFlex fxLayout="column" fxLayoutAlign="space-evenly stretch">
						<div fxLayout="row" fxLayoutAlign="space-between center">
							<span>
								<b>{{ element.message.sender.state.fullName }}</b>
								<small class="dull">@{{ element.message.sender.uuid}}</small>
							</span>
							<div fxFlex class="time" fxFlexAlign="center">
								{{ this.getReadableTime( element.message.data.date) }}
							</div>
						</div>
						<div>{{ element.message.data.text }}</div>
					</div>
				</div>
			</div>
				

	</mat-grid-tile>

	<!-- SIDEBAR: GROUP -->
	<mat-grid-tile rowspan="3">
	
		<div fxLayoutAlign="start stretch" fxLayout="column" class="sidebar-container">
			<mat-nav-list dense >
				<div fxLayoutAlign="space-between center" fxLayout="row">
					<h3 mat-subheader>MULTICAST</h3>
					<div>
						<button mat-raised-button (click)="addChannel()">
							<mat-icon class="dull">add_circle_outline</mat-icon>
						</button>
					</div>
				</div>
				<mat-divider></mat-divider>
					<a mat-list-item 
						routerLinkActive="active" class="online-name"
						routerLink="../{{channel}}"
						matLine 
						*ngFor="let channel of this.chatService.publicChats$ | async; let index = index">
					
						<div fxLayout="row" fxLayoutAlign="start center">
							<mat-icon mat-list-icon class="online">
								fiber_manual_record
							</mat-icon>
							<div>
								{{ channel }}
								<small class="dull">@{{ channel}} </small>
							</div>
						</div>
					
					</a>
	

			</mat-nav-list>
		</div>
	</mat-grid-tile>


	<!-- SEND MESSAGE -->
  	<mat-grid-tile colspan="4">
		<div fxLayoutAlign="center center" fxLayout="column">
			<form autocomplete="off" #replyForm="ngForm" (ngSubmit)="sendMessage(replyForm)" class="reply-form">
				<mat-form-field  class="msg-input" fxFill floatPlaceholder="never">
					<input tabindex="1" resizeToFitContent name="message" matInput placeholder="Message" ngModel>
					<mat-hint align="end"> Press Enter to Send</mat-hint>
				</mat-form-field>
			</form>
		</div>
	</mat-grid-tile>

</mat-grid-list>
