mat-grid-tile {
  background: #fff;
}

.online{
  font-size: 15px !important; 
  color: #35902a;
}
.channel-title{
  margin-bottom: 5px;
}
.reply-form{
  background-color: #fff;
  width: 90%;
}
.sidebar-container{
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
}

::ng-deep .mat-figure {
  display: block !important;
}
.content-container{
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
  padding: 10px;  
}

.time{
  color: #717274;
  font-size: 12px;
  white-space: nowrap;
  text-align: end;
}

.msg-container{
  height: 100%;
}
.f-s-40{
  font-size: 40px !important;
}
.dull{
  color: #717274;
}
.text-align-c{
  text-align: center;
}
.text-align-r{
  text-align: right;
}
.padding-bottom{
  padding-bottom: 10px;
}