<h1 mat-dialog-title>{{ data?.displayName }}</h1>

<div mat-dialog-content>
    <p>All Group Participants</p>
</div>
<mat-nav-list>
    <div *ngIf="data?.chatusers.length; else elseBlock">
        <mat-list-item *ngFor="let user of data?.chatusers">
            <mat-icon color="accent" mat-list-icon class="f-s-40">account_box</mat-icon>
            
            
            <!-- <a matLine (click)="onOnlineUserClick(user)"> -->
                {{ user }}
            <!-- </a> -->
            
        </mat-list-item>
    </div>
    <ng-template #elseBlock>
        <mat-list-item>

            No Users Found
            
        </mat-list-item>
    </ng-template>
</mat-nav-list>