    <md-toolbar>
        <md-card-title>
	        {{this.title}}
        </md-card-title>
    </md-toolbar>
        <!-- Inputs -->
        <form [formGroup]="loginForm">
            
            <md-card-content fxLayoutAlign="space-evenly stretch" fxLayout="column" fxLayoutGap="10px">
                <md-input-container fxFill>
                    <input mdInput placeholder="Username" formControlName="username">
                    <md-error>
                        Please enter your username
                    </md-error>
                </md-input-container>
    
                <md-input-container fxFill>
                    <input mdInput type="password" placeholder="Password" formControlName="password">
                    <md-error>
                        Please enter your password
                    </md-error>
                </md-input-container>

            </md-card-content>

            <md-card-actions class="text-center">
                <button mdInput [disabled]=!loginForm.valid type="submit" md-raised-button color="primary" (click)="loginUser()">Submit</button>
            </md-card-actions>
        </form>

    <md-card-footer class="text-center">
        <!-- Footer -->
        <a routerLink="/register"> <small>REGISTER &nbsp;</small></a>|
        <a routerLink="/forgot-password"> <small>FORGOT PASSWORD </small></a>
    </md-card-footer>

