    <mat-toolbar>
        <mat-card-title>
	        {{this.title}}
        </mat-card-title>
    </mat-toolbar>
        <!-- Inputs -->
        <form [formGroup]="loginForm">
            
            <mat-card-content fxLayoutAlign="space-evenly stretch" fxLayout="column" fxLayoutGap="10px">
                <mat-input-container fxFill>
                    <input matInput placeholder="Username" formControlName="username">
                    <mat-error>
                        Please enter your username
                    </mat-error>
                </mat-input-container>
    
                <mat-input-container fxFill>
                    <input matInput type="password" placeholder="Password" formControlName="password">
                    <mat-error>
                        Please enter your password
                    </mat-error>
                </mat-input-container>

            </mat-card-content>

            <mat-card-actions class="text-center">
                <button matInput [disabled]=!loginForm.valid type="submit" mat-raised-button color="primary" (click)="loginUser()">Submit</button>
            </mat-card-actions>
        </form>

    <mat-card-footer class="text-center">
        <!-- Footer -->
        <a routerLink="/register"> <small>REGISTER &nbsp;</small></a>|
        <a routerLink="/forgot-password"> <small>FORGOT PASSWORD </small></a>
    </mat-card-footer>

