<md-card>
    <md-tab-group>
        <div>
            <md-tab label="LOGIN"> 
                <div class="card-container">
                    <app-login class="loginForm w-50"></app-login>
                </div>                    
            </md-tab>
        </div>
        <div>
            <md-tab label="REGISTER" [routerLink]="['/register']">
                <div class="card-container">                    
                    <app-register></app-register>
                </div>        
            </md-tab>
        </div>     
    </md-tab-group>
</md-card>
        