<div class="">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
        <md-card tabindex="0">
            <nav md-tab-nav-bar>
                <a md-tab-link
                   [routerLink]="['/login']"
                   routerLinkActive #lla="routerLinkActive"
                   [active]="lla.isActive">
                  LOGIN
                </a>
                <a md-tab-link
                   [routerLink]="['/register']"
                   routerLinkActive #rla="routerLinkActive"
                   [active]="rla.isActive">
                  REGISTER
                </a>
            </nav>
            <router-outlet></router-outlet>
        </md-card>
    </div>    
</div>